@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Padronizar as cores*/
/*
*:root{
    --primary-color: #6E7743;
    --secondary-color: #8B3A2E;
    --background-color: #ECEDE4;
    --text-color: black;
    --header-background: #ebece1;
    --button-background: #8B3A2E;
    --button-text-color: #F4F4F4;
}
*/